body{
    background-image: url("background.jpeg");
    background-size: 100%;
}
.container{
    margin:auto;
    width: fit-content;
}
.invisible{
    visibility: hidden;
    margin: auto;
}
.result-won {
    font-size: 5em;
    color: green;
}
.result-x {
    font-size: 5em;
    color: yellow;
}
.result-lost {
    font-size: 5em;
    color: red;
}